<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm btn-holder">
                <h1 class="display-4"><strong>Henry's Recipe WebApp</strong></h1>
                <hr class="my-4">
                <br><br><br><br><br><br><br><br><br>
                <div class="container">
                    <div class="input-group mb-3">
                        <input type="search" class="form-control" id="searchRecipes" placeholder="Search for Recipes"
                            aria-describedby="searchButton">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button"
                                id="searchButton"><strong>Search!</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>